.error {
  width: 300px;
  margin: 2% 0;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-items {
  font-family: "Barriecito", cursive;
  font-size: 1.7rem;
  font-weight: bold;
}
